@{
    ViewData["Title"] = "Charts";
    @model ChartViewModel
}

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    @foreach (var chart in @Model.Charts)
    {
        @chart.CurrencyName<br />
        @chart.IndicatorName<br />
        <partial name="_Chart" model="@chart" />
    }
</body>
</html>
