@{
    ViewData["Title"] = "LineCharts";
    @model LineChartViewModel
}

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var options = {
        curveType: 'function',
        legend: {
            position: 'none'
        },
        hAxis: {
            textPosition: 'none',
            titleTextStyle: {
                color: '#FFFFFF'
            },
            minorGridlines: {
                position: 'none'
            },
            gridlines: {
                color: '#FFFFFF'
            },
            baselineColor: '#FFFFFF'
        },
        vAxis: {                
            textPosition: 'none',
            textStyle: {
                color: '#FFFFFF'
            },
            titleTextStyle: {
                color: '#FFFFFF'
            },
            minorGridlines: {
                textPosition: 'none'
            },
            gridlines: {
                color: '#FFFFFF'
            },
            baselineColor: '#FFFFFF'
        },
        colors: ['#F3D57A', '#A5C276', '#FC8C79']
    };
</script>
</head>
<body>
    @foreach (var lineChart in @Model.LineCharts)
    {
        @lineChart.TargetName<br />
        @lineChart.IndicatorName<br />
        <partial name="_LineChart" model="@lineChart" />
    }
</body>
</html>
