@model Chart

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawAxisTickColors);

    function drawAxisTickColors() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'X');
        data.addColumn('number', 'Value');
        data.addColumn('number', 'Buy');
        data.addColumn('number', 'Sell');

        data.addRows([@Html.Raw(Model.Rows)]);

        var chart = new google.visualization.LineChart(document.getElementById('chart_div_@Model.Index'));
        chart.draw(data, options);
    }
</script>

<div id="chart_div_@Model.Index" style="width: 900px; height: 500px"></div>

